<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hrms.mapper.EmployeeMapper">
    <insert id="posts" parameterType="Employee">

    </insert>
    <delete id="delete" parameterType="int" >

    </delete>
    <select id="employees" resultType="Employee">

    </select>
    <update id="update" parameterType="Employee">

    </update>
</mapper>